/*------------------------------------------------------------------------------1315-----------------------------------------*/
@media (max-width: 1315px) {
  .header__logo {
    font-size: 18px;
    margin-left: 5%;
    padding: 30px 0px 25px 0px;
  }
  .header__button {
    margin-right: 5%;
  }
  .menu__item:not(:last-child) {
    margin-right: 30px;
  }
  
  /*-------------------------*/
  .preview__container{
   min-height: 700px
}
  h1 {
    font-size: 50px;
  }
  .preview__common h1 + p {
    font-size: 16px;
  }

  .main__img_second div,
  .main__image_first div,
  .main__image_first {
    background-size: cover;
    max-width: 250px;
    max-height: 250px;
    min-height: 200px;
  }

}
/*-------------------------------------------------------------------------------------------------1250----------------------------------------*/
@media (max-width: 1250px) {

  .header__logo::before{
    left:40px;
    width:20px;
    height:20px;
    background: url(../img/butter.png)no-repeat 0 0/ 20px 20px;
    top:-10px
  }
  .img__square-circle-border-down,.img__square-circle-border-top,.img__square-circle-border{
    display: none;
  }
  h2{
    margin-bottom:15px;
  }
  .img__square-circle{
    width:300px
  }
  .delivery{
    display:block;

      font-family: 'Inter';
      font-size: 12px;
  
 }
 .footer__logo span+ p{
  display:none
 }
 .footer__logo{
  max-width:60%
 }
 .footer__text{
  display:none
 }
 .footer__logo::before{
  left:45%;}
}

/*-----------------------------------------------------------------------------------------------------970----------------------------------------*/
@media (max-width: 970px) {
  .header__logo {
    font-size: 18px;
    margin-left: 5%;
    padding: 30px 0px 25px 0px;
  }
  .header__container {
    font-size: 20px;
  }
  .header__button {
    margin-right: 5%;
  }
  .menu__item:not(:last-child) {
    margin-right: 27px;
  }
  .menu__item:nth-child(3) {
    margin-right: 0px;
  }
  /*----------------------*/
  .main__image, .main__image_forth {
    margin: 40px 40px 0px 0px;
  }
  .main__img_second div,
  .main__image_first div,
  .main__image_first {
    background-size: cover;
    max-width: 190px;
    max-height: 190px;
    min-height: 180px;
  }
.preview__container{
   min-height: 400px
}
 h1 {
    font-size: 40px;
  }
  h2{
    font-size: 40px;
  }
  .preview__common h1 + p, .subscribe__text, h2+p {
    font-size: 20px;
  }
  /*-----------------------------------------------------------*/
  .stories__image {
    height: 200px;
    width: 320px;
    min-height: 200px;
    min-width: 320px;
  }

  .stories__stories {
    padding: 12px 0px;
  }
  ._account {
    display: none;
  }
  .stories__first p, .stories__second p {
    font-size: 18px;
    line-height:24px;
  }
  .stories__first ul, .stories__second ul, .stories__first li, .stories__second li{
    margin-top:5px
  }
  .info__text,.destinations__text{
    font-size:20px
  }
}

/*--------------------------------------------------767----------------------------------------*/
@media (max-width: 767px) {
  .header__logo {
    line-height: 20px;
    margin-left: 3%;
  }

  .header__container {
    font-size: 18px;
    font-weight: 500;
  }
  
  .header__button {
    padding-left: 0px;
    margin-right: 3%
  }
  .button__all {

   font-size: 18px;

   padding: 10px 10px;

}
.menu__item:not(:last-child) {
   margin-right: 12px;
}
.menu__item:nth-child(3) {
   margin-right: 0px;
}

 h1, .preview__common h2 {
   font-size: 30px;
   line-height: 66px;
 }

/*------------------------*/
.main__img_second div,
.main__image_first div,
.main__image_first {
  background-size: cover;
  max-width: 150px;
  max-height: 150px;
  min-height: 130px;
}
.main__image, .main__image_forth {
   margin: 30px 30px 0px 0px;
}
.preview__second{
   margin-top:-80px
}
.preview__container{
   padding:150px 10% 120px 10%
}
.preview__common h1 + p{
   font-size: 18px;
}
.subscribe__text{
  font-size:18px
}
.slider__text, .slider__text span{
  font-size: 18px;
}
/*----------------------------------*/
._active-pop{
  width:450px
}
h4{
  font-size:26px
}
/*-----------------------------------*/
.info__text {
  padding:20px;

}
.logo{
  font-size:18px
}
.candle4{
  display:none
}
.info__form{
  min-width: 100%;
}
.info__img {
  min-width: 200px;
}
.stories__first p, .stories__second p {
  font-size: 16px;
}
.stories__first ul, .stories__second ul, .stories__first li, .stories__second li{
  font-size:14px
}
.footer__contacts p, .footer__my-contacts, .footer__my-contacts a, .footer__icons li{
  font-size:12px
}
.footer__icons li img{
  width:30px;
  height:30px
}
}
/*---------------------------------------------

/*-------------------------------------------------560--------------------------------------------*/
@media (max-width: 560px) {

   .header__logo {
      line-height: 20px;
      margin-left: 5%;
    }
  
    .header__container {
      font-size: 12px;
    }
    
    .header__button {
      padding-left: 0px;
      margin-right: 3%
    }
    .button__all {
  
     font-size: 12px;
  
     padding: 10px 10px;
  
  }
  .menu__item:not(:last-child) {
     margin-right: 12px;
  }
  .menu__item:nth-child(3) {
     margin-right: 0px;
  }
  
 
   .header__burger {
      display: block;
      width: 35px;
      height: 15px;
      position: relative;
      top: 0px;
      margin-left:10%;
      cursor: pointer;
      z-index: 3;
      margin-right:40%
    }
    .header__burger:before,
    .header__burger:after {
      background-color: black;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      border-radius: 10%;
    }
    .header__burger:before {
      bottom: 0;
    }
    .header__burger span {
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 6px;
      border-radius: 10%;
    }
  
    .header__close::before {
      background-color: black;
      position: absolute;
      content: "";
      width: 21px;
      height: 2px;
      top: 20px;
      left: 14px;
      transform: rotate(45deg);
      z-index: 20;
      border-radius: 10%;
    }
    .header__close::after {
      background-color: black;
      position: absolute;
      content: "";
      width: 21px;
      height: 2px;
      top: 20px;
      left: 14px;
      transform: rotate(-45deg);
      z-index: 20;
    }
  
    .header__menu {
      z-index: 15;
      width: 42.31%;
      min-height: 350px;
      background-color:#ECEAEB;
      transition: all 1s ease 0s;
      left: -100%;
      overflow: auto;
      margin-top: 0px;
      position: absolute;
      font-size: 16px;
      padding: 44px 30px 24px 10%;
      top: 0;

    }
    .header__menu._active {
      left: 57.69%;
      top: 0;
    }
    ._account {
      display: block;
    }
    .menu__list {
      flex-direction: column;
      text-align: right;
    }
    .menu__list > li {
      margin: 0px 0px 10px 0px;
    }
    .menu__item:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 50px;
  }
    .menu__item:nth-child(5),
    .menu__item:nth-child(6) {
      display: block;
    }
    .main__image_third{
      bottom: -10px;
      left: -10px;
    }
    .main__img_first{
      bottom: -10px;
      right: -10px;
    }
    ._active-pop{
      width:350px
    }
    h4{
      font-size:20px
    }
    .pop-up__button{
      font-size:18px
    }
  /*------------------------*/
  .preview__container{
   min-height: 300px;
   padding:150px 10% 40px 10%
}
.preview__common h1 + p{
   font-size: 12px;
}
 h1 {
   font-size: 30px;
   line-height: 46px;
 }
 .preview__planning{
   margin-top:30px;
 }
  .main__img_second div,
  .main__image_first div,
  .main__image_first {
    background-size: cover;
    max-width: 100px;
    max-height: 100px;
    min-height: 70px;
  }
  .main__image, .main__image_forth {
     margin: 30px 30px 0px 0px;
  }
  .preview__second{
     margin-top:-20px
  }
  .preview__second{
    left:35%
  }
/*---------------------------*/
.subscribe__text{
  font-size:12px
}
h2{
  font-size:30px;
  line-height: 30px;
  margin-bottom: 30px;
}
.subscribe__email{
  padding:0px 10%;
  line-height: 15px
}
.subscribe__email h2 {
  margin-bottom: 20px;
  line-height: 45px
}
/*--------------------------*/
.info__text {
  padding:20px;
  font-size:12px;
  text-align: center;
  margin-top:0px
}
.info__img {
 display: none;
}
.info__form{
  margin-left:0%
}
.info__form .email::after{
  display:none
}
.info__form .phone::after{
  display:none
}

.slider__text, .slider__text span{
  font-size:14px
}
.stories__first p, .stories__second p, .slider__text p {
  font-size: 18px;

}
.stories__first ul, .stories__second ul, .stories__first li, .stories__second li{
  font-size:16px
}
.destinations__container{
  padding:20px 10% 60px 10%
}
.stories__container{
  padding:0px 10% 0px
  }
  .subscribe__text{
    padding:0px 0px 20px 0px
  }
  .slider .slick-dots{
    padding-bottom:30px
  }

  .destinations2 ul{
    padding-bottom:130px !important
  }

/*---------------------------------------*/
.footer_container{
  padding-top:20px
}

.footer__contacts{
  flex-direction: column;
  padding: 0px;
}
.header__logo, .footer__logo,.logo{
  font-size:16px;
  max-width: 100%;
}
.footer__logo::before{
  margin-left:-30px;
  left:48%;
    width:100px;
    height:100px;
    background:  url('../img/logo2.png')no-repeat 0 0/ 100px 100px ;

top:-30px
  
}
.footer__logo p, .footer__my-contacts, .footer__my-contacts a {
	font-family: 'Inter';
	font-size: 16px;
	Line-height: 21px;
	padding-top: 80px;
	position: relative;
}

footer ul{
  display: flex;
  flex-direction: row;
}
.delivery span:first-of-type{
  font-weight: bold;
}
footer a:first-of-type {
  padding-left: 30%;
}
.main__thank_you{
	min-height: 300px;

padding:50px 0px
}
}
/* /*----------------------------------------------------390------------------------------------------*/
@media (max-width: 390px) {
  .header__menu{
    font-size:14px
  }
  .header__container {

    box-shadow: 0px 0px;
  }

  .header__logo {
    margin-left: 19px;
  }
  
  .header__burger {
    display: block;
    width: 35px;
    height: 15px;
    position: relative;
    top: 0px;
    margin-left:10%;
    cursor: pointer;
    z-index: 3;
    margin-right:30%
  }
  ._active-pop{
    width:280px;
    padding: 27px 30px 23px 30px;
  }
  h4{
    font-size:16px
  }
  .pop-up__button,.pop-up p{
    font-size:14px
  }
  /*--------------------------*/
  .main__image, .main__image_forth {
    margin: 15px 15px 0px 0px;
 }
 .preview__container{
  padding:180px 5% 60px 5%
 }
 h1 {
    font-size: 30px;
    line-height: 32px;
  }

  .main__image_forth{
    margin-right:20px
  }
  .preview__second {
    margin-top: -20px;
    left:35%
}
.preview__common h1 + p {
  font-size: 14px;
  line-height: 15px;
}

.stories__first p, .stories__second p {
  font-size: 14px;
}
.stories__first ul, .stories__second ul, .stories__first li, .stories__second li{
  font-size:10px
}
.destinations__container{
  padding:20px 10% 0px 10%
}
.destinations__container:last-of-type{
  padding:20px 10% 60px 10%
}
.info__text{
  font-size:14px;
  padding: 20px 5px 20px 5px
}

.footer_container{
  padding: 0px 2% 10px 2%;
}
.delivery{
  font-family: 'Inter';
  font-size: 14px;
}
.footer__logo div:first-child{
  padding-top:20px
}
.footer__logo::before {
  top:0px;
  margin-top:10px;
  margin-left:-40px
}
h2+p{
  margin-top:-20px;
  font-size: 16px;
}
}


/*-----------------------------------------------------------------------------------------------340-------------------------------------------*/
@media (max-width: 340px) {

  .preview__second {
    margin-top: -20px;
    left:20%
}
 h1{
  font-size: 21px;
}
.stories__first p, .stories__second p {
  font-size: 10px;
}
.header__logo, .footer__logo{
  max-width: 90%;
}
.footer__icons li{
  font-size: 10px;
padding-right:5px;
padding-left:5px
}
.footer__icons{

}
}
 